# output dir
output
instant_test_output
inference_test_output

# my custom output dirs
/cond_conv_5
/logs

# my custom data dir
/domain

*.png
*.json
*.diff
*.jpg
!/projects/DensePose/doc/images/*.jpg

*.pth
*.pt

# compilation and distribution
__pycache__
_ext
*.pyc
*.pyd
*.so
*.egg-info/
build/
dist/
wheels/

# pytorch/python/numpy formats
*.pth
*.pkl
*.npy
*.ts
model_ts*.txt

# ipython/jupyter notebooks
*.ipynb
**/.ipynb_checkpoints/

# Editor temporaries
*.swn
*.swo
*.swp
*~

# editor settings
.idea
.vscode
_darcs
.DS_Store

# project dirs
/detectron2/model_zoo/configs
/datasets/*
!/datasets/*.*
/projects/*/datasets
/models
/snippet

/playground/*/logs
/playground/*/domain
